In [61]:
library("tidyverse")

In [62]:
un <- read_tsv("unweighted_unifrac_dm.txt")
head(un)

Warning message:
"Missing column names filled in: 'X1' [1]"Parsed with column specification:
cols(
  .default = col_double(),
  X1 = col_character()
)
See spec(...) for full column specifications.

  X1        SRS052555 SRS018559 SRS062610 SRS017641 SRS014999 SRS051609
1 SRS052555 0.0000000 0.7177741 0.6443183 0.6747327 0.6996822 0.6615088
2 SRS018559 0.7177741 0.0000000 0.6965987 0.6699886 0.6810165 0.6635515
3 SRS062610 0.6443183 0.6965987 0.0000000 0.7075625 0.6702384 0.6730542
4 SRS017641 0.6747327 0.6699886 0.7075625 0.0000000 0.6885112 0.6876831
5 SRS014999 0.6996822 0.6810165 0.6702384 0.6885112 0.0000000 0.7125492
6 SRS051609 0.6615088 0.6635515 0.6730542 0.6876831 0.7125492 0.0000000
  SRS050733 SRS048819 SRS054608 ... SRS016056 SRS023488 SRS062464 SRS018076
1 0.7052942 0.7031953 0.6812651 ... 0.7287541 0.7268968 0.6533717 0.8002613
2 0.6702022 0.6455579 0.6506550 ... 0.7273458 0.7358017 0.6968931 0.7824468
3 0.6952357 0.6802488 0.6546234 ... 0.7098878 0.6817875 0.6815594 0.7976256
4 0.6958130 0.6881268 0.6952858 ... 0.7414771 0.7621048 0.6962675 0.7742014
5 0.7154596 0.6610205 0.6787105 ... 0.7579431 0.7658370 0.7163092 0.8492228
6 0.6882271 0.6725900 0.6668963 ... 0.7084501 0.7470570 0.6781075 0.7782633
  SRS057258 SRS049911 SRS064647 SRS056255 SRS016152 SRS056259
1 0.7342415 0.6686638 0.7767685 0.6583010 0.6894371 0.6924706
2 0.7136065 0.6883073 0.7485674 0.6616500 0.6833075 0.7223062
3 0.6839814 0.6426663 0.7034623 0.6457140 0.6613643 0.7268079
4 0.6671732 0.6665273 0.7579097 0.6746610 0.7035161 0.7247131
5 0.7471406 0.7638892 0.7715515 0.6797768 0.7106412 0.7400076
6 0.6895717 0.6784684 0.7503397 0.6760307 0.6872330 0.6776423

In [63]:
library("reshape2")

In [64]:
tmp <- melt(un)

Using X1 as id variables

In [65]:
head(tmp)

  X1        variable  value
1 SRS052555 SRS052555 0.0000000
2 SRS018559 SRS052555 0.7177741
3 SRS062610 SRS052555 0.6443183
4 SRS017641 SRS052555 0.6747327
5 SRS014999 SRS052555 0.6996822
6 SRS051609 SRS052555 0.6615088

In [66]:
tmp$variable <- as.character(tmp$variable)

In [67]:
colnames(tmp) <- c("first", "second", "value")
head(tmp)

  first     second    value
1 SRS052555 SRS052555 0.0000000
2 SRS018559 SRS052555 0.7177741
3 SRS062610 SRS052555 0.6443183
4 SRS017641 SRS052555 0.6747327
5 SRS014999 SRS052555 0.6996822
6 SRS051609 SRS052555 0.6615088

In [41]:
tmp$Sample <- ifelse(startsWith(tmp$first, "SRS"),"HMP", "Korean")

In [69]:
head(tmp)

  first     second    value
1 SRS052555 SRS052555 0.0000000
2 SRS018559 SRS052555 0.7177741
3 SRS062610 SRS052555 0.6443183
4 SRS017641 SRS052555 0.6747327
5 SRS014999 SRS052555 0.6996822
6 SRS051609 SRS052555 0.6615088

In [76]:
hmp <- tmp %>% filter(str_detect(first, "SRS")) %>% filter(str_detect(second, "SRS"))
head(hmp)

  first     second    value
1 SRS052555 SRS052555 0.0000000
2 SRS018559 SRS052555 0.7177741
3 SRS062610 SRS052555 0.6443183
4 SRS017641 SRS052555 0.6747327
5 SRS014999 SRS052555 0.6996822
6 SRS051609 SRS052555 0.6615088

In [77]:
kor <- tmp %>% filter(str_detect(first, "N|n")) %>% filter(str_detect(second, "N|n"))
head(kor)

  first    second   value
1 normal67 normal67 0.0000000
2 normal66 normal67 0.6666632
3 normal68 normal67 0.6085548
4 normal15 normal67 0.6546408
5 ND007    normal67 0.5971071
6 ND002    normal67 0.6210559

In [78]:
mean(kor$value)
mean(hmp$value)

[1] 0.6638745

[1] 0.7045303